/* Reset some default styles */
body, h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('../images/trucking-background.jpg'); /* Укажите путь к изображению */
    background-size: cover; /* Масштабирование изображения */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Отключение повторения */
}

h1, h2, h3 {
    color: #333;
}

p {
    color: #666;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Layout styles */
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}